DB_HOST=localhost
DB_PORT=5432
DB_USER=pc_builder
DB_PASSWORD=pc_builder_pass
DB_NAME=pc_power_db

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=root
MINIO_SECRET_KEY=rootpassword
MINIO_BUCKET=power-components
MINIO_PUBLIC_URL=http://localhost:9000
